@font-face {
    font-family: "Dosis";
    src: url("fonts/Dosis/Dosis-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Dosis";
    src: url("fonts/Dosis/Dosis-ExtraBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: "Titillium";
    src: url("fonts/Titillium/TitilliumWeb-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }